body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #b7cadb;
  /* height: 100vh; */
}

.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin: 20px auto;
  overflow: hidden;
}

.h1-index {
  margin-top: 20px;
  padding: 10px;
}
.profil-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}
.description {
  font-size: 2rem;
  font-style: italic;
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .index-container {
    max-width: 50vw;
    height: 83vh;
  }
  .profil-img {
    max-width: 550px;
  }
}
@media (max-width: 768px) {
  .description {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 2rem;
  }
  .profil-img {
    max-width: 250px;
  }
  .index-container {
    padding: 4px;
  }
  .h1-index {
    margin: 5px;
  }
}
